{% extends 'base.html.twig' %}


{% block body %}
    <h1> {{ title }}</h1>
    <div align="justify">Dans une démocratie, la parole politique sert de base de conciliation pour aplanir les divers conflits d’une société et se diffuse dans l’espace public afin de faciliter l’échange d’opinions.
    Si sa forme requiert une maîtrise en matière de rhétorique, de linguistique, en même temps qu’elle se nourrit de sciences politiques, de psychologie, sociologie et de théologie, son contenu
    reste fortement contextualisé. Un discours politique n’est pas un discours comme les autres. La raison en est simple : l’enjeu essentiel du discours politique est la recherche de l’approbation
    sous la forme d’une propagande de masses light. Le but est de créer les conditions pour installer une idéologie (représentation collective) concernant le changement ou le maintien d’une réalité
    humaine à un moment donné, ou d’une certaine forme de pouvoir et d’organisation de la cité.En procédant de la sorte s’impose l’analyse des variables qui déterminent les modes de production autant
    que de réception du discours. Il est question donc d’articuler, à la fois, le contexte,la parole, les enjeux et les stratégies discursives, afin d’en saisir les effets. C’est pourquoi il serait
    restrictif de prétendre expliquer le discours politique uniquement par une approche langagière,
        ou une procédure interpersonnelle de communication. La pratique politique imposant une vision sociétale, la méthodologie doit s’y soumettre</div>
{% endblock %}